.container {
  padding: 1rem;
  header {
    @include position(relative, 0, 0);

    span {
      position: absolute;
      top: 8px;
      right: 0;
    }
    .nav {
      @include flex-box(flex-start, flex-start);
      width: 100%;
      flex-direction: column;

      height: 100%;

      .logo {
        @include typography(1.5rem, 800);
        color: $grey_800;
      }
      &__links {
        @include ul(0, 0, none);
        width: 100%;
        @include position(relative, 0, 0);
        text-align: center;
        height: 0px;
        z-index: 20;
        background-color: $blue;
        transition: height 0.5s ease-in-out;
        overflow: hidden;
        margin-top: 1rem;

        li {
          padding: 5px 0;
          line-height: 40px;
          a {
            color: $white;
            text-transform: capitalize;
            @include typography(1rem, 400);
          }
        }
      }

      .show {
        height: 35vh;
        padding: 8px;

        li {
          line-height: 1.875rem;
        }
      }
    }
  }
}
