@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --crimson: "Crimson Pro", serif;
  --montserrat: "Montserrat", sans-serif;
  --lora: "Lora", serif;
  --font_bold: 700;
  --font_medium: 500;
  --font_normal: 400;
  --font_light: 200;
  --clr_black: #000;
  --clr_white: #fff;
}

body {
  background: var(--clr_black);
}

.container {
  margin: 0 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 100%;
  padding: 2rem 2rem 2rem 0;

  overflow: hidden;
}



.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  max-width: 60%;
}

.nav-links li a {
  text-decoration: none;
  font-size: 1.125rem;
  color: var(--clr_white);
  margin-left: 5.375rem;
  font-family: var(--montserrat);
  font-weight: var(--font_normal);
  position: relative;
}

.nav-links li a:before {
  content: "";
  position: absolute;
  bottom: -0.1rem;
  width: 100%;
  height: 0.1rem;
  border-bottom: 2px solid var(--clr_white);
  transform: scaleX(0);
  transition: transform 0.3s ease-in;
}

.nav-links li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
.nav-links li a.active::before {
  transform: scaleX(1);
}
.nav-links li a.active {
  font-weight: var(--font_bold);
}

header h2 {
  max-width: 40%;
  color: var(--clr_white);
  font-size: 0.875rem;
  font-weight: var(--font_light);
  font-family: var(--crimson);
  border: 1px solid var(--clr_white);
  padding: 0.5rem;
  text-transform: uppercase;
}

.menu {
  display: none;
}

.hero {
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  color: var(--clr_white);
 
}

.hero-right_side img {
  height: 100%;
  width: 100%;
}

figure {
  position: relative;
  height: auto;
  width: 100%;
  object-fit: cover !important;
}

.hero-left_side h2 {
  font-size: 3rem;
  font-family: var(--lora);
  font-weight: var(--font_medium);
  margin-bottom: 2rem;
}

.hero-left_side p {
  max-width: 25.625rem;
  font-size: 1.5rem;
  font-family: var(--montserrat);
  font-weight: var(--font_normal);
  line-height: 1.813rem;
  margin-bottom: 2rem;
}

.hero-left_side button {
  border: none;
  outline: none;
  background-color: var(--clr_black);
  color: var(--clr_white);
  font-size: 1.125rem;
  font-family: var(--montserrat);
  font-weight: var(--font_bold);
  position: relative;
  max-width: auto;
  transition: all 0.4s ease-in;
}

.hero-left_side button img {
  position: absolute;
  top: -0.4rem;
  margin-left: 0.875rem;
}

.hero-left_side button:hover {
  cursor: pointer;
  letter-spacing: 0.25rem;
}

.hamburgermenu{
  display: none;
}

@media screen and (max-width:900px) {
  .container{
    margin:0 2rem;
  
  }
  nav{
    padding:0;
  
    height:10vh;
  }

  .nav-links{
    display: none;
  }
  
  .hamburgermenu{
    display: none;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    background-color: #000;
    height: 100%;
    width: 100%;
    
  }
  .mobile-nav{
   list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
   font-family: var(--montserrat);
   height: 100vh;
  
  }

  .mobile-nav> li{
    margin-bottom: 2rem;
  }
  .mobile-nav > li> a{
    text-decoration: none;
    font-size:1.125rem ;
    color:#fff;
    font-weight: 700;
    position: relative;
 
  }

  .mobile-nav li a:before {
    content: "";
    position: absolute;
    bottom: -0.1rem;
    width: 100%;
    height: 0.1rem;
    border-bottom: 2px solid var(--clr_white);
    transform: scaleX(0);
    transition: transform 0.3s ease-in;
    z-index: 1000;
  }
  
  .mobile-nav li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
  }
  .mobile-nav li a.active::before {
    transform: scaleX(1);
  }
  .mobile-nav li a.active {
    font-weight: var(--font_bold);
  }
  
  header h2{
    max-width: 100%;
  }
  .menu{
    display: block;
    position: relative;
    
  }

  .menu #openmenu{
    display:block;

  }

  .menu #closemenu{
    position: absolute;
    right:0rem;
    top:-1rem;
    z-index: 200;
    display: none;
  
  }

  
 
  .hero{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    height:80vh;
  
  }
  .hero-left_side h2 {
    font-size: 3rem;
    margin-bottom: 1.25rem;
  }

  .hero-left_side p {
    font-size: 1.125rem;
    font-weight: 400;
    max-width:100%;
  
    margin-bottom: 1.25rem;
  }

  .hero-left_side button {
    margin-bottom: 1rem;
    font-size: 1.125rem;
  }
  .hero-left_side button img{
    margin-left: 0.938rem;
    top: -0.4rem;
  }

 
}

@media screen and (max-width:600px) {
  .container{
    margin:0 1rem;
  }

  .hero-left_side h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .hero-left_side p{
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .hero-left_side button{
    font-size: 1rem;
    font-weight: 500;
  }
  .hero-left_side button img{
    margin-left: 0.938rem;
    top: -0.5rem;
  }
}