* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.mb-24 {
  margin-bottom: 1.5rem;
}
