* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.mb-48 {
  margin-bottom: 3rem;
}

.mb-32 {
  margin-bottom: 2rem;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-16 {
  margin-bottom: 1rem;
}

.card {
  figure {
    @include height_width(67px, 67px);
    border-radius: 1rem;
    @include flex-box(center, center);

    .material-icons {
      font-size: 2.25rem;
      color: $white;
    }

    &.edit {
      background-color: $blue;
    }

    &.code {
      background-color: $green;
    }

    &.storage {
      background-color: $red;
    }
  }
  &__body {
    h3 {
      @include typography(1.5rem, 700);
      color: $grey_800;
    }
    p {
      @include typography(1rem, 400);
      color: $grey_700;
      max-width: 80%;
    }
    button {
      @include height_width(2.625rem, 7.25rem);
      border: none;
      outline: none;
      border-radius: 12px;
      background-color: $grey_300;

      a {
        @include typography(1rem, 500);
        color: $grey_600;
      }

      &.frontend-btn {
        background-color: $blue;

        a {
          color: $white;
        }
      }
    }
  }
}

.email {
  padding: 0 1.5rem;

  &.emails {
    padding: 0;
  }
  h5 {
    @include typography(0.75rem, 500);
    color: $grey_600;
    margin-bottom: 0.625rem;
  }

  &__field {
    position: relative;
    input[type="email"] {
      height: 2.8125rem;
      width: 100%;
      border-radius: 0.75rem;
      background-color: $grey_100;
      outline: none;
      padding-left: 1rem;
      border: none;
      @include position(relative, 0, 0);
    }

    button {
      height: 2.8125rem;
      width: 4.375rem;
      border-radius: 0.75rem;
      background-color: $blue;
      color: $white;
      @include typography(0.875rem, 500);
      border: none;
      outline: none;
      position: absolute;
      right: 0rem;
    }
  }
}
