main {
  padding: 2rem 0rem;
  // padding-left: 1.5rem;

  .banner {
    &_subtitle {
      @include typography(0.75rem, 500);
      color: $blue;
    }
    &_title {
      @include typography(1.5rem, 500);
      line-height: normal;
      padding-right: 1rem;
      color: $grey_800;
    }

    figure {
      img {
        @include img(145px, 100%, cover);
        border-radius: 1.125rem;
      }
    }
  }

  .bottom-part {
    h2 {
      @include typography(1.5rem, 500);
      max-width: 60%;
      color: $grey_800;
      margin-bottom: 1.125rem;
    }
    p {
      @include typography(0.875rem, 400);
      color: $grey_700;
      max-width: 80%;
    }
  }

  .email {
    h5 {
      @include typography(0.75rem, 500);
      color: $grey_600;
      margin-bottom: 0.625rem;
    }

    &__field {
      position: relative;
      input[type="email"] {
        height: 2.8125rem;
        width: 100%;
        border-radius: 0.75rem;
        background-color: $grey_100;
        outline: none;
        padding-left: 1rem;
        border: none;
        @include position(relative, 0, 0);
      }

      button {
        height: 2.8125rem;
        width: 4.375rem;
        border-radius: 0.75rem;
        background-color: $blue;
        color: $white;
        @include typography(0.875rem, 500);
        border: none;
        outline: none;
        position: absolute;
        right: 0rem;
      }
    }
  }

  .cards {
    &__title {
      @include typography(1.5rem, 500);
      line-height: normal;
      padding-right: 5rem;
      color: $grey_800;
    }
  }

  .project {
    &__title {
      @include typography(1.5rem, 500);
      line-height: normal;
      width: 100%;
      padding-right: 2rem;
      color: $grey_800;
    }

    &_cards {
      figure {
        img {
          @include img(20.9375rem, 100%, cover);
          border-radius: 1.125rem;
        }
      }
    }

    &__body {
      span {
        @include typography(0.875rem, 400);
      }
      p {
        @include typography(1.125rem, 500);
      }
    }

    .link {
      a {
        @include flex-box(flex-start, center);
        gap: 0.5rem;
        @include typography(1.125rem, 500);
        color: $blue;

        .forward-arrow {
          font-size: 1.5rem;
        }
      }
    }
  }
}
