/*colors*/
$blue: #2d9cdb;
$black: #000;
$white: #fff;
$red: #eb5757;
$green: #27ae60;
$darkblue: #100e1d;

$grey_800: #333333;
$grey_700: #4f4f4f;
$grey_600: #828282;
$grey_400: #bdbdbd;
$grey_300: #e0e0e0;
$grey_100: #f2f2f2;
